<ion-view cache-view="false" view-title="Handle Device: {{cameraSelected.title}}" name="signup-view">
  <ion-content class="padding">
    <div style="float:right;width:20%;">
      <ion-toggle ng-model="cameraSelected.etat" id="toggleState" toggle-class="toggle-positive" ng-click="changeState(cameraSelected);">Is Active</ion-toggle>
    </div>
    <a href="#/listcams" style="text-decoration:none;color:#fff;float:left;margin-bottom:20px;">
      <button class="button button-positive">
          Cam&eacute;ras <i class="icon ion-arrow-left-c"></i>
      </button>
    </a>
    <div style="clear:both;text-align:center;" class="hidden" ng-hide="cameraSelected.etat == false">
      <div style="width:60%;margin-left:20%;margin-top:20px;margin-bottom:20px;height:320px;background-color:red;"></div>
      <button class="button button-large button-energized icon ion-arrow-left-c" ng-click="turnLeft()" style="margin-right:50px;"></button>
      <button class="button button-large button-energized icon ion-arrow-right-c" ng-click="turnRight()"></button>
    </div>
  </ion-content>
</ion-view>
