<ion-view view-title="Login" name="login-view">
  <ion-content class="padding">
    <form name="loginForm" novalidate>
      <div class="list list-inset" ng-class="(loginForm.username.$valid) ? 'valid' : 'error'">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" id="usernameLoginField" placeholder="Username" name="username" class="form-control" ng-model="data.username" required>
        </label>
      </div>
      <div class="list list-inset" ng-class="(loginForm.password.$valid) ? 'valid' : 'error'">
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" id="passwordLoginField" placeholder="Password" name="password" class="form-control" ng-model="data.password" required>
        </label>
      </div>
      <button class="button button-block button-calm" ng-disabled="loginForm.$invalid" ng-click="login()">Login</button>
    </form>
    <div style="margin-top:40px;">
      <a href="#/signup">No account yet? Sign Up...</a>
    </div>
  </ion-content>
</ion-view>
